
<div *ngIf="weddingService">
    <h2><span jhiTranslate="weddingplanerApp.weddingService.detail.title">Wedding Service</span> {{weddingService.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weddingplanerApp.weddingService.firstName">First Name</span></dt>
        <dd>
            <span>{{weddingService.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.lastName">Last Name</span></dt>
        <dd>
            <span>{{weddingService.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.email">Email</span></dt>
        <dd>
            <span>{{weddingService.email}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.serviceCommittedDate">Service Committed Date</span></dt>
        <dd>
            <span>{{weddingService.serviceCommittedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.businessAddress">Business Address</span></dt>
        <dd>
            <div *ngIf="weddingService.businessAddressId">
                <a [routerLink]="['/address-jo-angular', weddingService.businessAddressId]">{{weddingService.businessAddressId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.privateAddress">Private Address</span></dt>
        <dd>
            <div *ngIf="weddingService.privateAddressId">
                <a [routerLink]="['/address-jo-angular', weddingService.privateAddressId]">{{weddingService.privateAddressId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingService.appUser">App User</span></dt>
        <dd>
            <div *ngIf="weddingService.appUserId">
                <a [routerLink]="['/app-user-jo-angular', weddingService.appUserId]">{{weddingService.appUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wedding-service-jo-angular/'+ weddingService.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
