
<div *ngIf="weddingHost">
    <h2><span jhiTranslate="weddingplanerApp.weddingHost.detail.title">Wedding Host</span> {{weddingHost.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weddingplanerApp.weddingHost.firstName">First Name</span></dt>
        <dd>
            <span>{{weddingHost.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingHost.lastName">Last Name</span></dt>
        <dd>
            <span>{{weddingHost.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingHost.email">Email</span></dt>
        <dd>
            <span>{{weddingHost.email}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingHost.appUser">App User</span></dt>
        <dd>
            <div *ngIf="weddingHost.appUserId">
                <a [routerLink]="['/app-user-jo-angular', weddingHost.appUserId]">{{weddingHost.appUserId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingHost.foodProposalAcceptHost">Food Proposal Accept Host</span></dt>
        <dd>
            <div *ngIf="weddingHost.foodProposalAcceptHostId">
                <a [routerLink]="['/party-food-jo-angular', weddingHost.foodProposalAcceptHostId]">{{weddingHost.foodProposalAcceptHostId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wedding-host-jo-angular/'+ weddingHost.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
