<div>
    <h2>
        <span jhiTranslate="weddingplanerApp.partyEvent.home.title">Party Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-party-event-jo-angular" [routerLink]="['/', { outlets: { popup: ['party-event-jo-angular-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="weddingplanerApp.partyEvent.home.createLabel">
            Create new Party Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="partyEvents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventName"><span jhiTranslate="weddingplanerApp.partyEvent.eventName">Event Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventShortDescription"><span jhiTranslate="weddingplanerApp.partyEvent.eventShortDescription">Event Short Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventLongDescription"><span jhiTranslate="weddingplanerApp.partyEvent.eventLongDescription">Event Long Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="language"><span jhiTranslate="weddingplanerApp.partyEvent.language">Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventInitTime"><span jhiTranslate="weddingplanerApp.partyEvent.eventInitTime">Event Init Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventStartTime"><span jhiTranslate="weddingplanerApp.partyEvent.eventStartTime">Event Start Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventEndTime"><span jhiTranslate="weddingplanerApp.partyEvent.eventEndTime">Event End Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventMaxPerson"><span jhiTranslate="weddingplanerApp.partyEvent.eventMaxPerson">Event Max Person</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weight"><span jhiTranslate="weddingplanerApp.partyEvent.weight">Weight</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerId"><span jhiTranslate="weddingplanerApp.partyEvent.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partyEvent of partyEvents ;trackBy: trackId">
                <td><a [routerLink]="['../party-event-jo-angular', partyEvent.id ]">{{partyEvent.id}}</a></td>
                <td>{{partyEvent.eventName}}</td>
                <td>{{partyEvent.eventShortDescription}}</td>
                <td>{{partyEvent.eventLongDescription}}</td>
                <td jhiTranslate="{{'weddingplanerApp.Language.' + partyEvent.language}}">{{partyEvent.language}}</td>
                <td>{{partyEvent.eventInitTime | date:'medium'}}</td>
                <td>{{partyEvent.eventStartTime | date:'mediumDate'}}</td>
                <td>{{partyEvent.eventEndTime | date:'mediumDate'}}</td>
                <td>{{partyEvent.eventMaxPerson}}</td>
                <td>{{partyEvent.weight}}</td>
                <td>
                    <div *ngIf="partyEvent.ownerId">
                        <a [routerLink]="['../app-user-jo-angular', partyEvent.ownerId  ]" >{{partyEvent.ownerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../party-event-jo-angular', partyEvent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party-event-jo-angular/'+ partyEvent.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party-event-jo-angular/'+ partyEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="partyEvents && partyEvents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
