
<div *ngIf="weddingGuest">
    <h2><span jhiTranslate="weddingplanerApp.weddingGuest.detail.title">Wedding Guest</span> {{weddingGuest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.firstName" [ngbTooltip]="'weddingplanerApp.weddingGuest.help.firstName' | translate">First Name</span></dt>
        <dd>
            <span>{{weddingGuest.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.lastName">Last Name</span></dt>
        <dd>
            <span>{{weddingGuest.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.email">Email</span></dt>
        <dd>
            <span>{{weddingGuest.email}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.guestInvitationDate">Guest Invitation Date</span></dt>
        <dd>
            <span>{{weddingGuest.guestInvitationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.guestCommitted">Guest Committed</span></dt>
        <dd>
            <span>{{weddingGuest.guestCommitted}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.guestRsvpDate">Guest Rsvp Date</span></dt>
        <dd>
            <span>{{weddingGuest.guestRsvpDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.privateAddress">Private Address</span></dt>
        <dd>
            <div *ngIf="weddingGuest.privateAddressId">
                <a [routerLink]="['/address-jo-angular', weddingGuest.privateAddressId]">{{weddingGuest.privateAddressId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.businessAddress">Business Address</span></dt>
        <dd>
            <div *ngIf="weddingGuest.businessAddressId">
                <a [routerLink]="['/address-jo-angular', weddingGuest.businessAddressId]">{{weddingGuest.businessAddressId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.weddingGuest.appUser">App User</span></dt>
        <dd>
            <div *ngIf="weddingGuest.appUserId">
                <a [routerLink]="['/app-user-jo-angular', weddingGuest.appUserId]">{{weddingGuest.appUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wedding-guest-jo-angular/'+ weddingGuest.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
