
<div *ngIf="appUser">
    <h2><span jhiTranslate="weddingplanerApp.appUser.detail.title">App User</span> {{appUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weddingplanerApp.appUser.appUserAccount">App User Account</span></dt>
        <dd>
            <span>{{appUser.appUserAccount}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.appUser.appUserPassword">App User Password</span></dt>
        <dd>
            <span>{{appUser.appUserPassword}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.appUser.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'weddingplanerApp.Language.' + appUser.language}}">{{appUser.language}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'app-user-jo-angular/'+ appUser.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
